{% extends 'twitter/base.html' %}
{% load bootstrap5 %}
{% block content %}
<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <h1>Login</h1>
        </header>

        <form method="post">
            {% bootstrap_form form %}
            {% csrf_token %}
            <p>Username or password not correct.</p>
            {% if form.errors %}
            {% endif %}
            {% buttons %}
            <button type="submit" class="twitter-btn btn btn-primary">
                Log in
            </button>
            {% endbuttons %}
        </form>

        <div class="">
            <a href="{% url 'register' %}">No Account? Register!</a>
        </div>

    </div>
{% endblock content %}