{% extends 'twitter/base.html' %}
{% load bootstrap5 %}
{% load humanize %}
{% block content %}

<br>
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="container" id="profile-col">
                <div class="card position-fixed">
                    <img class="card-img-top rounded-circle border border-dark" style="height: 200px; width: 200px; margin: 10%;"
                        src="{{ user.profile.image.url }}" alt="Card image cap">
                    <div class="card-body">
        
                        <h7 class="card-title font-weight-bold">{{ user.first_name }}</h7>
                        <h7 class="card-title font-weight-bold">{{ user.last_name }}</h7>
                        <h6 class="card-title font-weight-bold">@{{ user.username }}</h6>
        
                        <p class="card-text">{{ request.user.profile.bio }}</p>
                        <h6 class="card-title font-weight-bold">
                            <span class="border border-dark badge badge-primary">
                                Followers {{ user.profile.followers.count }}
                            </span>
                            <span class="border border-dark badge badge-primary">
                                Following {{ user.profile.following.count }}
                            </span>
                        </h6>
                        {% if request.user.is_authenticated %}
                        {% if user.username != request.user.username %}
                        {% if user not in request.user.profile.following %}
                        <a href="{% url 'follow' user %}" class="btn-sm btn-success">Follow</a>
                        {% else %}
                        <a href="{% url 'unfollow' user %}" class="btn-sm btn-danger">Unfollow</a>
                        {% endif %}
                        {% endif %}
        
                        {% endif %}
                        <a href="{% url 'profile_setting' %}" id="addATweetLeft" onclick="addTweet()" type="button"
                            class="btn-sm btn-dark">Profile Setting</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6" id="posts-col">
            <div class="card">
                <form class="card-body" method="post">
                    {% csrf_token %}
                    {% bootstrap_form form %}
                    <p style="font-size: x-small;">Max character: 280</p>
                    <button class="btn btn-primary">Post</button>
                </form>
            </div>
            <br>
            <!-- Tweets -->
            {% for post in posts %}
            <div id="tweetCards">
                <div class="card" style="border-radius:20px">
                    <div class="tweet-header">
                        <img src="{{ post.user.profile.image.url }}" alt="" class="card-img-top rounded-circle border border-dark" style="height: 12%; width: 12%;">
                        <div class="tweet-header-info" style="padding: 2%;">
                            <a href="{% url 'profile' post.user %}">
                                @ {{ post.user.username }}
                            </a>
                            <span>{{ post.timestamp|naturaltime }}
                            </span>
                            <p>{{ post.content }}</p>
                        </div>
                    </div>
                </div>
                <br>
            </div>
            {% endfor %}
            <br>
        </div>
    </div>
</div>
<br>
{% endblock content %}
