{% extends 'twitter/base.html' %}
{% load bootstrap5 %}
{% block content %}
<body class="login-page">
    <div class="twitter-login-box">
        <header>
            <h1>Register to join us</h1>
        </header>

        <form method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="twitter-btn btn btn-primary">
                Register
            </button>
            {% endbuttons %}
        </form>

        <div class="">
            <a href="{% url 'login' %}">Already Have an Account? Login</a>
        </div>

    </div>

{% endblock content %}